html,
body {
    height: 100%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.page-container {
    margin: 20px;
}

.firstth {
    display: flex;
}

.tt {
    width: auto;
}

table {
    border-collapse: collapse;
    width: 800px;
}

td,
th {
    padding: 8px;
    border: 1px solid silver;
}

th {
    color: white;
    background: #535353;
}

pre {
    margin: 20px;
    padding: 10px;
    background: #eee;
    border: 1px solid silver;
    border-radius: 4px;
}

.resizer {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    left: auto;
    width: 16px;
    cursor: col-resize;
}
