* {
    box-sizing: border-box;
    margin: 0;
}

.btn-primary {
    margin: 10px 10px 10px 0;
    /*padding: 10px;*/
    /*width: 100%;*/
}

.tableBtn {
    margin-top: 120px;
    display: flex;
    justify-content: right;
    /*margin-top: px;*/
}

#utilBtn {
    padding: 5px;
    max-width: 100px;
    z-index: 3;
    border-radius: 5px;
    border: 1px solid #4279c5;
}

.csvIcon,
.copyIcon,
.printIcon {
    background-color: #fff;
    color: #4279c5;
    transition: all 0.2s;
}

.csvIcon:hover,
.copyIcon:hover,
.printIcon:hover {
    background-color: #4279c5;
    color: #fff;
    transform: scale(1.05);
}

.delIcon {
    background-color: #fd3d6b;
    border: none;
    transition: all 0.2s;
}

.delIcon:hover {
    background-color: #fd3d6b;
    transform: scale(1.05);
}

.addIcon {
    background-color: #0b75c5;
    border: none;
    transition: all 0.2s;
}

.addIcon:hover {
    background-color: #0b75c5;
    transform: scale(1.05);
}

.btnImg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.utilIcon {
    margin-right: 5px;
}
