* {
    box-sizing: border-box;
    margin: 0;
}

.searchTitle {
    font-size: 2rem;
    padding: 10px;
}

.searchLine {
    border-bottom: 1px solid gray;
}



.boxTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-primary {
    margin: 10px 10px 10px 0;
    /*padding: 10px;*/
    /*width: 100%;*/
}

#utilBtn {
    width: 100%;
    /*padding: 10px;*/
    z-index: 999;
}

.tableWidth {
    word-wrap: break-word;
    /*max-width: 300px;*/
    height: auto;
}

#utilBtn:hover {
    cursor: pointer;
}

#searchCondition {
    width: 150px;
}

.box1,
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.box_search {
    /*width: 100%;*/
    margin: auto;
    padding: 5px;
}

.searchDivParent {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.tableBox {
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}


.btnImg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.tableOptionBtn {
    margin: 20px 10px 0 10px;
}

.radioBtn {
    display: flex;
    margin-left: 80px;
}

.radioLabel > .inputRadio {
    margin: 0;
}

.radioLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 20px;
}

.tableBody {
    /*box-shadow: 3px 3px 3px gray;*/
    /*border-radius: 5px;
    background-color: black !important;*/
}

/*#widget-grid .jarviswidget > div {
    background-color: white !important;
}*/

#dataTable_info{
    font-style: normal;
    color: gray;
}