/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 /* 헤더 */
#header>div {
	display: flex;
	top: 25%;
}

 /* 메인 페이지 로고 */
 #logo-group {
 }

#logo {
	width: 103px;
	margin: 0px auto;
	align-self: center;
}

#logo img {
	width: 100px;
	padding-left: 3px
}

/* 헤더 드롭다운 메뉴 */
#project-context>:first-child,
.project-context>:first-child {
	display: block;
	color: black;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0 0 1px #fff;
	padding-left: 0;
	text-align: left
}

#project-context,
.project-context {
	padding: 0px 20px 0px 0px;
}
