/* 모달 설정 */
.me-modal {
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.4); 
    margin: 0;
}

/* 모달 형태 */
.me-modal-container {
    user-select: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(40, 40, 40, 0.4);
}

/* 모달 내용 속성 */
.me-modal-inner {
    /* background-color: aliceblue; */
    width: 100%;
    height: 100%;
    max-width: 500px; /* 최대 너비 제한 */
    margin: 0 auto;
    border-radius: 10px; /* 모달 내부에 둥근 모서리 추가 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 0px; */
}

.me-modal-header {
    /* color: #007bff; */
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: white;
    
    .header-title {
        margin-left: 10px;
        font-size: 15px; 
        font-weight: bold;
    }
    
    .header-close {
        margin-right: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .header-close:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
    
    .header-close:active {
        transform: translate(-3px, 3px);
    }
}

.me-modal-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    justify-content: center;
    align-self: center;
    /* background-color: rgb(236, 255, 127); */

    .body-row {
        display: flex;
        /* gap: 20px; */
        
        .row-group {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 10px;
            
            .left {
                width: 85px;
                text-align: right;
                .red { color: red; margin-right: 3px; }
            }

            .right {
                width: calc(100% - 85px);
            }
        }
    }
}

.me-modal-footer {
    width: 90%;
    align-self: center;
    /* background-color: aquamarine; */
    .table-buttons {
        margin: 0;
    }
}
