/* 작은 단위의 스타일 그룹 */

:root {
    --color-blue: #007bff;
}

* {
    font-size: 12px;
}

.text-error {
    color: red;
}

/* margin css */
.mg-t-5 {
    margin-top: 5px;
}
.mg-t-20 {
    margin-top: 20px;
}
.mg-r-5 {
    margin-right: 5px;
}
.mg-r-10 {
    margin-right: 10px;
}
.mg-r-20 {
    margin-right: 20px;
}
.mg-b-20 {
    margin-bottom: 20px;
}
.mg-l-5 {
    margin-left: 5px;
}
.mg-l-20 {
    margin-left: 20px;
}
.mg-l-15 {
    margin-left: 15px;
    margin-bottom: 15px;
}
.mg-b-15 {
    margin-bottom: 15px;
}
.mg-b-10 {
    margin-bottom: 10px;
}


/* react-table button */
.table-buttons {
    display: flex;
    justify-content: right;
    margin-bottom: -60px;
    align-items: center;
    text-align: center;
    gap: 10px;
  
    .table-btn {
        display: inline-block; font-weight: 400; text-align: center; vertical-align: middle;
        touch-action: manipulation; cursor: pointer; background-image: none; white-space: nowrap;
        padding: 5px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    }
    .table-btn-default { color: #007bff; border: 1px solid #007bff; background-color: white; }
    .table-btn-primary { color: #fff; border: 1px solid #007bff; background-color: #007bff; }
    .table-btn-warning { color: #fff; border: 1px solid #fd3d6b; background-color: #fd3d6b; }
    .table-btn-primary:hover { background-color: #005cbe; }
    .table-btn-warning:hover { background-color: #bd2e4f; }
    .table-btn-default:hover {  border: 1px solid #005cbe; }
    .table-btn-default.disabled,
    .table-btn-primary.disabled,
    .table-btn-warning.disabled {
        color: #fff; background-color: gray; opacity: 0.5; border: 1px solid gray; pointer-events: none;
    }
    @keyframes rotate { /* 애니메이션 정의 */
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    .refresh:hover .refresh-Icon { animation: rotate 0.5s linear; }
}


.logo-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* 화면 높이에 따라 조정 가능하게 설정합니다 */
}

.logo-main {
    width: auto;
    height: auto;
    opacity: 0;
    animation: appearAndBounce 2s ease-in-out 1s forwards,
        bounce 2s ease-in-out 3s infinite;
}

@keyframes appearAndBounce {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.logo-main {
    max-width: 100%;
    max-height: 100%;
}

/* select box */
.select {
    padding: 3px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    width: 55px;
    /* 드롭다운 화살표를 숨김 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* 셀렉트 박스의 배경 이미지로 커스텀 아이콘 사용 */
    background: url(images/ico_arrow_gray_15x9.png) no-repeat;
    background-position: right 8px center;
    background-repeat: no-repeat;
}
.b-select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    width: 200px;
    /* 드롭다운 화살표를 숨김 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* 셀렉트 박스의 배경 이미지로 커스텀 아이콘 사용 */
    background: url(images/ico_arrow_gray_15x9.png) no-repeat;
    background-position: right 8px center;
    background-repeat: no-repeat;
}
.b-select::-ms-expand {
    display: none;
}
.b-select:hover {
    cursor: pointer;
}

/* menu form css */
.form-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;

    .text-menu,
    input,
    select,
    span {
        font-weight: 400;
    }

    .checkbox-area {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .checkbox-area > span:not(:last-child) {
        margin-right: 10px;
    }

    .btn-primary {
        background-color: var(--color-blue);
        border: none;
        margin: 0px;
    }

    /* 마지막 row 아래 간격 제거 */
    .row:not(:last-child) {
        margin-bottom: 10px;
    }

    .row {
        display: flex;
        align-items: center;
    }
    .row-right {
        display: flex;
        align-items: center;
    }

    .text-danger:not(:last-child) {
        color: red;
        margin-right: 2px;
    }

    .col-md-2,
    .col-md-10 {
        padding: 0px;
    }
}

/* flex 설정 */
.flex-gap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.flex-group {
    display: flex;
    align-items: center;
    width: 25%;
}

.flex-label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.flex-input {
    flex: 2;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

/* radio 버튼 */
.line {
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin: 0px;
    margin-right: 5px;
}

.radio-group label {
    margin-right: 15px;
}

/* Basic Data Table */
.table-content td {
    text-align: center;
    padding: 4px 0 4px 0;
    border-left: 1px solid #cccc;
}
.table-content tbody tr:not(:first-child) {
    border-top: 1px solid #cccc;
}
.table-content tr {
    border-right: 1px solid #cccc;
}
.table-content tbody tr:last-child {
    border-bottom: 1px solid #cccc;
}
.table-sub {
    font-weight: bold;
    margin-bottom: 3px;
}
.table-content {
    .table-header th {
        text-align: center;
        padding: 5px 0 5px 0;
        background-color: #4f5055;
        background-color: slategrey;
        color: #eeeeee;
        border-left: 1px solid rgb(89, 102, 116);
        border-bottom: 1px solid rgb(89, 102, 116);
        font-weight: 400;
    }
    .table-row {
        display: flex;

        .flex-col-1 {
            flex: 1;
        }
        .flex-col-2 {
            flex: 2;
        }
        .flex-col-4 {
            flex: 4;
        }
    }
    .table-radius-half {
        border-radius: 10px;
    }
}

/* 사전원가 계산서 */
.precost-container {
    background-color: var(--background-white);
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 15px;
    color: rgb(74, 84, 94);
    .wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .empty {
        margin: 15px 0 15px 0;
    }
    .point {
        font-weight: bold;
    }
    .b-gray {
        background-color: rgba(112, 128, 144, 0.171);
    }
    .b-highlight {
        background-color: cornsilk;
    }
    .col-header {
        background-color: slategrey;
        font-weight: 400;
        color: #eeeeee;
        border-left: 1px solid rgb(89, 102, 116);
    }
    .b-lightblue {
        background-color: rgba(182, 203, 231, 0.541);
    }
    .line-t {
        border-top: 1px solid rgba(112, 128, 144, 0.5);
    }
    .line-t-b {
        border-top: 1px solid rgba(112, 128, 144, 0.5);
        border-bottom: 1px solid rgba(112, 128, 144, 0.5);
    }
    .precost-title {
        font-weight: bold;
        font-size: large;
        margin-bottom: 5px;
    }
}

/* 수주등록 formDataTable */
.table-Container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
    font-size: 12px;
}

.table-styled {
    width: 100%;
    border-collapse: collapse;
}

.table-styled th,
.table-styled td {
    padding: 7px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.table-styled th {
    background-color: #f2f2f2;
}

.table-styled input[type="text"] {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.table-styled select {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.table-styled input:focus,
.table-styled select:focus {
    outline: none;
    border: 1px solid #3498db;
}

.table-title {
    font-weight: bold;
    font-size: 15px;
}

.btn-outline {
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 1px solid #007bff;
    border-radius: 4px;
    background: none;
    color: #007bff;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    transition: background 0.3s, color 0.3s;
}

.btn-outline:hover {
    background: #007bff;
    color: #fff;
}

/* 리액트 테이블 */
#dataTable {
    max-width: 1400px;
}

.table-checkbox {
    width: 18px; /* 원하는 너비 */
    height: 18px; /* 원하는 높이 */
    margin: 0; /* 여백 설정 */
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .sort-icon {
        font-size: 12px;
        margin-left: 5px;
        color: lightgray;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: gray;
}

.pagination button {
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s, color 0.3s;
}

.pagination button:disabled {
    color: lightgray;
}

.pagination button:not(:disabled):hover {
    color: darkgrey;
}

/* status icon */
.state-area {
    width: 105px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    text-align: center;
    margin: 0 auto;
}

.dot {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 3px;
    margin-right: 2px;
}

.b-gray {
    background-color: lightgray;
}
.b-gray .dot {
    color: gray;
}
.b-gray span {
    color: rgb(85, 85, 85);
}
.b-blue {
    background-color: lightblue;
}
.b-blue .dot {
    color: rgb(71, 171, 204);
}
.b-blue span {
    color: rgb(0, 90, 121);
}
.b-green {
    background-color: rgba(183, 243, 149, 0.664);
}
.b-green .dot {
    color: rgba(75, 168, 21, 0.664);
}
.b-green span {
    color: rgb(84, 114, 84);
}
.b-orange {
    background-color: rgba(255, 127, 80, 0.432);
}
.b-orange .dot {
    color: rgb(241, 111, 64);
}
.b-orange span {
    color: rgb(119, 45, 23);
}

select {
    appearance: auto;
    -webkit-appearance: auto;
}

/* 결제선 폼 CSS*/
.app-buttons {
    display: flex;
    justify-content: end;

    .btn {
        padding: 7px 15px;
    }

    .app-btn:not(:last-child) {
        margin-right: 10px;
    }
    .app-btn-tertiary {
        background-color: #6c757d;
        color: #fff;
    }
    .app-btn-primary {
        background-color: #007bff;
        color: #fff;
    }
    .app-btn-secondary {
        background-color: #fff;
        color: #666;
        border: 1px solid;
    }
}

.approval-title {
    font-size: 25px;
    text-align: center;
}

.approval-form {
    font-size: 12px;

    .approval-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .approval-path {
            text-align: right;
        }
    }

    .header-width th {
        width: 15%;
    }

    /* 박스 영역 */
    .approval-box {
        display: flex;
        font-size: 12px;

        .department {
            writing-mode: vertical-rl;
            background-color: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid #ddd;
            border-right: 0px;
            font-weight: 600;

            .box-title {
                padding: 0 5px 0 5px;
                height: 70px;
            }
        }

        .area {
            width: 80px;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

            .top {
                background-color: #f2f2f2;
                height: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #ddd;
            }
            .bottom {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .area:last-child {
            border-right: 1px solid #ddd;
        }
    }
}

/* 예시 CSS 스타일 */
.table {
    border-collapse: collapse;
    width: 100%;
}

.first-column {
    border-left: 1px solid #ddd;
}

/* tr,
td,
th {
    border: 1px solid #ddd;
} */

/*.other-column {
    padding: 0;
}*/

td > input {
    width: 100%;
}

.page-size {
    position: relative;
    z-index: 99;
}

.redDelete {
    margin: 0;
}

#dataTableReactTable {
    margin-top: 0;
}

/* 심플 탭 */
.common_board_style {
    position: relative;
}
.common_board_style .tab::after {
    content: "";
    display: block;
    clear: both;
}
.common_board_style .tab li {
    float: left;
}
.common_board_style .tab li + li {
    margin-left: 40px;
}
.common_board_style .tab li a {
    display: block;
    position: relative;
    padding-bottom: 12px;
    color: #ccc;
    font-size: 30px;
    font-weight: 700;
}
.common_board_style .tab li a.on {
    color: #222;
}
.common_board_style .tab li a.on::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #0465be;
}
.common_board_style .more {
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    height: 16px;
    padding-left: 27px;
    color: #444;
    font-size: 18px;
    line-height: 16px;
    background: url(css/images/ico_plus.png) no-repeat;
}
.common_board_style .list ul {
    margin-top: 33px;
}
.common_board_style .list ul > li {
    position: relative;
}
.common_board_style .list ul > li + li {
    margin-top: 10px;
}
.common_board_style .list ul > li a {
    display: block;
    width: calc(100% - 100px);
    color: #666;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.common_board_style .list ul > li a:hover {
    color: #222;
    text-decoration: underline;
}
.common_board_style .list ul > li span {
    position: absolute;
    right: 0;
    top: 4px;
    color: #aaa;
    font-size: 16px;
}
.common_board_style .list .second {
    display: none;
}
.common_board_style .list .third {
    display: none;
}
.common_board_style .list .fourth {
    display: none;
}
.common_board_style .list .fifth {
    display: none;
}
.common_board_style .list .sixth {
    display: none;
}

.common_board_style .tab li + li {
    margin-left: 25px;
}
.common_board_style .tab li a {
    padding-bottom: 10px;
    font-size: 18px;
}


/* 반응형 스타일 */
@media (max-width: 768px) {
    .flex-group {
        width: 50%; /* 768px 이하에서 2개씩 배치 */
    }
}
