.topMenuBtn {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    margin-bottom: 5px;
}

.searchMain {
    position: relative;
}

.box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*margin-left: 57px;*/
    /*margin-top: 10px;*/
}

.box1 {
    flex: 1;
}

.buttonTool {
}

.deleteText {
    margin-left: 5px;
}

.refreshIcon,
.searchIcon,
.clearIcon {
    transition: all 0.2s;
    background-color: #fff;
    color: #3276b1;
    border: 1px solid #3276b1;
}

.btnSearch {
    /*background-color: #fff;*/
    /*transition: all 0.2s;*/
    /*width: 15px;*/
    color: #3276b1;
    fill: #3276b1;
    background-color: aqua;
    /*height: 15px;*/
    /*padding: 0;*/
}

.btnSearch:hover {
    /*background-color: #fff;*/
    /*color: #3276b1;*/
    /*transform: scale(1.05);*/
}

.refreshIcon:hover,
.searchIcon:hover,
.clearIcon:hover {
    background-color: #3276b1;
    color: #fff;
    transform: scale(1.05);
}

.btn {
    /*border: 1px solid #3276b1;*/
}

.table.dataTable > thead > tr > th {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 1px solid #ddd;
}

.csvIcon,
.copyIcon,
.printIcon {
    background-color: #fff;
    color: #4279c5;
    transition: all 0.2s;
}

.csvIcon:hover,
.copyIcon:hover,
.printIcon:hover {
    background-color: #4279c5;
    color: #fff;
    transform: scale(1.05);
}

#searchKeyword {
    height: 25px;
}

.radioBtn {
    margin: 0;
}
