/*#tableBody > tbody > tr > td > div:hover {
    cursor: pointer;
    transform: scale(1.2);
}*/

#tableBody > tbody > tr:hover {
    cursor: pointer;
    text-align: left;
    font-size: 30px;
}

#tableBody > tbody > tr {
    transition: all 0.3s ease-in-out;
    text-align: left;
    /*background-color: aqua;*/
}
