.ReactModal__Content {
    width: 700px;
    height: 800px;
    margin: auto;
}

.form-control {
    padding-left: 20px; /* 화살표와 왼쪽 간격을 20px로 설정 */
    background-position: 5px center; /* 화살표 위치를 조정하여 좌측으로 이동 */
    background-repeat: no-repeat;
    /*-webkit-appearance: none;*/
    -moz-appearance: none;
    /*appearance: none;*/
}
