:root {
  --userBackground-color: #ecf0f5;
  --borderCss: 3px solid #cccccc;
}

.InfoBody {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 1.5rem;
  padding-top: 0;
  flex-direction: column;
  /* background-color: var(--userBackground-color); */
  /* background-color: red; */
}

.TopInfoBox {
  /* display: flex; */
  /* background-color: greenyellow; */
  width: 100%;
}

.BottomInfoBox {
  margin-top: 10px;
}

.TopItemLine {
  width: 90%;
  display: flex;
}

.TopItem {
  display: flex;
  width: 100%;
}
.TopItem2 {
  display: flex;
  width: 50%;
}

.InfoName {
  display: flex;
  flex: 1;
  width: 100%;
  height: 40px;
  border: 1px solid #d8d8d8;
  margin-right: 3px;
  background-color: var(--userBackground-color);
  justify-content: center;
  align-items: center;
}

.InfoAddress {
  width: 50%;
}

.InfoInput {
  flex: 2;
  width: 100%;
  padding: 5px;
  border: var(--borderCss);
}

/* .AddressInput {
  flex: 5.1;
} */
